#!/bin/bash
# Google Apps CLI
alias gam="/home/gonzalo.peci/bin/gam/gam"

# Follow tail
alias tailf="tail -f"

# gitg remove console output
alias gitg="gitg >> /dev/null 2>&1"

# LS
alias ls='ls --color=tty'

# bat
alias cat="bat -p"

# fd
unalias fd
