[user]
	name = Gonzalo Peci
	email = pecigonzalo@users.noreply.github.com
[status]
    showuntrackedfiles = no
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
[core]
	pager = less -FRSX
	compression = 9
	whitespace = trailing-space,space-before-tab
[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
	ui = auto
[color "status"]
	added = green
	changed = yellow
	untracked = red
[branch]
	autosetuprebase = always
[diff]
    algorithm = minimal
    compactionHeuristic = true
	renames = copies
	mnemonicprefix = true
	tool = meld
[merge]
    # tool = kdiff3
	tool = meld
[init]
    templatedir = ~/.git_template/template
[rebase]
    autosquash = true
[rerere]
    enabled = true
[mergetool]
    keepBackup = false
[help]
    autocorrect = 1
[alias]
    gist = log --graph --oneline --all --decorate --date-order
    find = log --graph --oneline --all --decorate --date-order --regexp-ignore-case --extended-regexp --grep
    rfind = log --graph --oneline --all --decorate --date-order --regexp-ignore-case --extended-regexp --invert-grep --grep
    search = grep --line-number --ignore-case -E -I
