[user]
name = Gonzalo Peci
email = pecigonzalo@users.noreply.github.com
[status]
showuntrackedfiles = all
[push]
default = current
[pull]
rebase = true
[fetch]
prune = true
[core]
pager = less -FRSX
compression = 9
whitespace = trailing-space,space-before-tab
excludesfile = ~/.git_globalignore
pager = delta
[color]
branch = auto
diff = auto
interactive = auto
pager = true
status = auto
ui = auto
[color "status"]
added = green
changed = yellow
untracked = red
[branch]
autosetuprebase = always
[diff]
algorithm = minimal
compactionHeuristic = true
renames = copies
mnemonicprefix = true
	tool = vscode
[merge]
# tool = kdiff3
tool = meld
conflictstyle = diff3
[init]
templatedir = ~/.git_template/template
[rebase]
autoSquash = true
autostash = true
[rerere]
enabled = true
autoupdate = true
[mergetool]
keepBackup = false
[help]
autocorrect = 1
[interactive]
diffFilter = delta --color-only
[alias]
gist = log --graph --oneline --all --decorate --date-order
find = log --graph --oneline --all --decorate --date-order --regexp-ignore-case --extended-regexp --grep
rfind = log --graph --oneline --all --decorate --date-order --regexp-ignore-case --extended-regexp --invert-grep --grep
search = grep --line-number --ignore-case -E -I
ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
changelog = "!f() { git log $1 $2 --no-merges --pretty=format:\"* [%H] - %s\"; }; f"
[difftool "vscode"]
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
