name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v16

      - uses: cachix/cachix-action@v10
        with:
          name: pecigonzalo
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Check flake
        run: nix flake check

  build-home-configuration:
    strategy:
      fail-fast: false
      matrix:
        include:
          - username: wslfish
          - username: revel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v16

      - uses: cachix/cachix-action@v10
        with:
          name: pecigonzalo
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build activation package
        run: |
          nix build --print-build-logs .#homeConfigurations.${{ matrix.username }}.activationPackage

  build-darwin-configuration:
    strategy:
      fail-fast: false
      matrix:
        host:
          - githubCI
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v16

      - uses: cachix/cachix-action@v10
        with:
          name: pecigonzalo
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build system
        run: |
          nix build --print-build-logs .#darwinConfigurations.${{ matrix.host }}.system
