name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v16

      - uses: cachix/cachix-action@v10
        with:
          name: pecigonzalo
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Enable incremental cache upload
        run: cachix watch-store pecigonzalo &

      - name: Check flake
        run: nix flake check

  build-home-configuration:
    strategy:
      fail-fast: false
      matrix:
        include:
          - username: wslfish
          - username: revel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v16

      - uses: cachix/cachix-action@v10
        with:
          name: pecigonzalo
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Enable incremental cache upload
        run: cachix watch-store pecigonzalo &

      - name: Build activation package
        run: |
          nix --print-build-logs build .#homeConfigurations.${{ matrix.username }}.activationPackage

  build-darwin-configuration:
    strategy:
      fail-fast: false
      matrix:
        host:
          - macfish
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v16

      - uses: cachix/cachix-action@v10
        with:
          name: pecigonzalo
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Enable incremental cache upload
        run: cachix watch-store pecigonzalo &

      - name: Build system
        run: |
          nix --print-build-logs build .#darwinConfigurations.${{ matrix.host }}.system
          nix log /nix/store/iikwdfwh2vdnywa5ijy3f55zpb8l1h3i-Brewfile.drv
